<h1>Welcome to Worldly</h1>
<p>Come see the world!</p>

<p>My name is Bobby; I hale from <%= @homeland %></p>

<% @countries.each do |country| %>
  <li><%= country %></li>
<% end %>

<% @travel_pics.each do |pic| %>
  <li><%= image_tag pic, class: "img-responsive" %></li>
<% end %>
